.lineToRun:before {
  color : #008000;
  content: '\e897 ';
  font-family: photon-entypo;
  font-size: 20px;
  cursor: pointer;
  line-height: 0;
}
.lineToRun{
  position: absolute;
  left: 10px;
}
.hiddenLine{
  font-size: 0;
}