<div class="btn-group">
  <button class="btn btn-default" (click)="launchAction('undo')">
    <span class="icon icon-ccw"></span>
  </button>
  <button class="btn btn-default" (click)="launchAction('redo')">
    <span class="icon icon-cw"></span>
  </button>
</div>
<div class="btn-group">
  <button class="btn btn-default" (click)="launchAction('bold')">
    <B>Bold</B>
  </button>
  <button class="btn btn-default" (click)="launchAction('italic')">
    <em>Italic</em>
  </button>
  <button class="btn btn-default" (click)="launchAction('underline')">
    <u>
      <b>U</b>
    </u>
  </button>
  <button class="btn btn-default" (click)="launchAction('strikeThrough')">
    <s>abc</s>
  </button>
</div>
<div class='btn-group'>
  <button class="btn btn-default" (click)="launchAction('h1')">
    h
    <sup>1</sup>
  </button>
  <button class="btn btn-default" (click)="launchAction('h2')">h
    <sup>2</sup>
  </button>
  <button class="btn btn-default" (click)="launchAction('p')">p</button>
  <button class="btn btn-default" (click)="launchAction('pre')">
    <span class="icon icon-code"></span> Tastee
  </button>
</div>

