<header class="toolbar toolbar-header">
  <h1 class="title">Tastee</h1>

  <div class="toolbar-actions">
    <div class="btn-group">
      <button class="btn btn-default" (click)="fileBtn.click()">
        <span class="icon icon-folder"></span>
        <input #fileBtn id="fileBtn" type="file" webkitdirectory directory (change)="openWorkspace($event.target.files)">
      </button>
      <button class="btn btn-default" *ngIf="workspaceIsSelected" (click)="saveWorkspace()">
        <span class="icon icon-download"></span>
      </button>
    </div>

    <div class="btn-group" *ngIf="displayTreeAction">
      <button class="btn btn-default">
        <span class="icon icon-trash"></span>
      </button>
      <button class="btn btn-default">
        <span class="icon icon-plus"></span>
      </button>
      <button class="btn btn-default">
        <span class="icon icon-ccw"></span>
      </button>
    </div>


    <div class="btn-group  pull-right" *ngIf="workspaceIsSelected">
      <button class="btn btn-default" (click)="runTastee()">
        <span class="icon icon-play"></span>
      </button>
      <button class="btn btn-default" (click)="stopTastee()">
        <span class="icon icon-stop"></span>
      </button>
    </div>

  </div>
</header>