<header class="toolbar toolbar-header">
  <h1 class="title">Tastee</h1>

  <div class="toolbar-actions">
    <div class="btn-group">
      <button class="btn btn-large btn-default" (click)="fileBtn.click()">
        <span class="icon icon-folder"></span>
        <input #fileBtn id="fileBtn" type="file" webkitdirectory directory (change)="openWorkspace($event.target.files)">
      </button>
      <button class="btn btn-large btn-default" *ngIf="workspaceIsSelected" (click)="saveWorkspace()">
        <span class="icon icon-floppy"></span>
      </button>
    </div>

    <app-files-toolbar [workspace]=workspace *ngIf="displayTreeAction"></app-files-toolbar>

    <app-wysiwyg-toolbar *ngIf="this.isEditingTastee" class="wysiwyg"></app-wysiwyg-toolbar>

    <app-tastee-toolbar *ngIf="this.isEditingTastee" class="pull-right"></app-tastee-toolbar>

  </div>
</header>
