<div [ngSwitch]="menuSelected">
  <div class="pane-group">
    <div class="pane-sm sidebar tree" *ngSwitchCase="'files'">
      <app-tree [workspace]=workspace></app-tree>
    </div>
    <div class="pane">
      <app-parameters *ngSwitchCase="'parameters'"></app-parameters>
      <app-content-file *ngSwitchCase="'files'" [workspace]=workspace></app-content-file>
      <app-welcome *ngSwitchDefault></app-welcome>
    </div>
    <div class="pane-sm sidebar" *ngIf="displayResults">
      <app-result-toolbar></app-result-toolbar>
    </div>
  </div>
</div>
