#editparent {
  display: flex;
  flex-direction: row;
  overflow:auto;
  min-height:100%;
}

#editor {
  border:1px solid silver;
  border-radius:5px;
  box-shadow: inset 0 0 10px silver;
  padding:1em;
  background: white;
  margin: 0 auto;
  width:100%;
  min-height:100%;
}

#editorLines{
  width: 20px;
  background-color: #d1cfd1;
  min-height:100%;
}

