<div class="window">
  <app-header></app-header>
  <div class="window-content" *ngIf="workspace;else welcome">
    <div class="pane-group">
      <div class="pane-sm sidebar">
        <app-menu></app-menu>
      </div>
      <div class="pane main-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <footer class="toolbar toolbar-footer">

  </footer>
</div>

<ng-template #welcome>
  <img src='../assets/tastee.png'>
  <div class="desc">
    <h1> Welcome to Tastee !</h1>
    <h3> 1. To start tasting, open new folder !</h3>
    <h3> 2. If you need documentation, go to :
      <a (click)="openDocumentation()">https://github.com/tastee/tastee-doc</a>
    </h3>
  </div>
</ng-template>
