.pane{
    background-position: center;
    background-size: 80%;
    background-image: url(../assets/tastee.png);
    background-repeat: no-repeat;
}
img{
    width: 50%;
    margin: auto;
}
.desc{
    width: 80%;
    margin: auto;
    height: 100%;
    position: initial;
    text-align: center;
}