<textarea class="content" name='data' id='data' rows="20" (focusout)="saveData()" [(ngModel)]='file.data'></textarea>

<div class="form-group">
  <div *ngIf="errorMessage;else goodFile">
    <label class="badFile">
      <span class="icon icon-cancel"></span> Your file contains errors !
    </label>
    <label class="badFile">{{errorMessage}}</label>
  </div>
</div>
<ng-template #goodFile>
  <label class="goodFile">
    <span class="icon icon-check"></span> Your file is good !
  </label>
</ng-template>