<form *ngIf="fileName">
  <div class="form-group"  *ngIf="displayActionsIfTasteeFile()">
    <button class="btn btn-large btn-positive">Run Tastee</button>
    <button class="btn btn-large btn-warning">Debug Tastee</button>
  </div>

  <div class="form-group">
    <label>File Name</label>
    <input id="fileName" name="fileName" class="form-control" [(ngModel)]="fileName">
  </div>
  <div class="form-group">
    <label>Content File</label>
    <textarea class="form-control" name='data' id='data' rows="20" (focusout)="saveData()" [(ngModel)]='data'></textarea>
  </div>
</form>