/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}


.executable pre.tastee:before {
  color : #008000;
  content: '\e897 ';
  font-family: photon-entypo;
  font-size: 20px;
  cursor: pointer;
}

#editor pre.tastee {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 10px;
  padding: 0;
  line-height: 1.2em;
}
